@charset "UTF-8";


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {

    .dropmenu {
        left: 2rem;
        width: unset;
    }

    .porti {
        
        display: block;
        width: 100%;
        height: 500px;
        
        
    }
    .porti div {
        
        display: block;
        margin: 0px;
        width: 100%;
        height: 100%;
       
        
    }

    .sobre_mim{
        width: 90%;
        transition: ease 2s;
        
        
    }

    .ftperfil {
        
        margin: 20px auto ;

       
       

    }

    .perfil  {
        padding-top: 20px;
        display: block;
        height: 550px;
        text-align: center;
        transition: ease 1s;

       
    }

    .perfil .apresent h1{
        display: block;
        text-align: center;
        
    }

    .perfil .apresent ul, li {
        display: block;
        margin: auto 50px;

    }
        
        

    

    
    
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    
    
        .link, .menu .contato {
            display: none;
        }
    
        .fabars {display: block;}
    
        .dropmenu {
            display: block;
        }

        

    .hero {
        width: 100%;
        
    }

    .porti {
        
        display: block;
        width: 100%;
        height: 700px;
        margin: 0;
        
    }
    .porti div {
        
        display: block;
        margin: 0px;
        width: 50%;
        height: 40%;
        margin: 30px;
        
    }

    .porti .div1 {
        margin: 50px auto;
    } 

    .porti .div2 {
        margin: 50px auto;
    } 


  }

    

  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) {
    
    .sobre_mim{
        width: 80%;
        transition: ease 2s;
    }

}    
  