@charset "UTF-8";


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {

    .dropmenu {
        left: 2rem;
        width: unset;
    }

    .texto_dinamico {
        display: none;
    }

    .porti {
        display: block;
        
        height: 500px;
        
        
    }
    
    .Projetos {
        display: block;
        font-size: 1.5em;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
    }

   


    .porti div {
        display: block;
        
        
        margin: 25px auto;
        width: 350px;
        height: 200px;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.13);
    }

   
        
 

    

    
    
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    
    
        .link, .menu .contato {
            display: none;
        }
    
        .fabars {display: block;}
    
        .dropmenu {
            display: block;
        }

        
    }

    

  
  
    
   

  