@charset "UTF-8";


  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    
    
        .link, .menu .contato {
            display: none;
        }
    
        .fabars {display: block;}
    
        .dropmenu {
            display: block;
        }

        
    }

    .porti div {
        
      
        
    }

    
    

      /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {


    main {
        height: auto;
    }

    .porti {
        height: 1000px;
    }

    .dropmenu {
        left: 2rem;
        width: unset;
    }

    .texto_dinamico {
        display: none;
    }

    .porti {
        display: block;
        
        height: 500px;
        
        
    }
    
    .Projetos {
        display: block;
        font-size: 1.5em;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
    }

   


    .porti div {
        
    }

    .porti {
        height: auto;
    }
   
    
  }



  
  
    
   

  